/* FONT */
BebasNeue {
    font-family: 'BebasNeue';
} 

/* HEADER */
body {
    background-color: #000 !important;
    box-sizing: border-box;
    margin: 0;
}

.logo {
    margin-right: auto; /* Push logo to the left */
}

a.logo {
    margin: 10px;
}

.logo img {
    width: 300px;
    height: auto;
    transition: filter 0.2s linear; /* Add transition for smooth effect */
}

header.over, logo img {
    filter: invert(1);
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    transition: 0.2s linear;
    z-index: 10;
    padding: 30px 0;
}

header .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

div.container-empty {
    background-color: #000;
    font-family: "Bebas Neue", sans-serif;
    max-width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header1 .gnb {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.header1 .gnb>li {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 90px;
    height: 65px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header1 .gnb.color>li.off>a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header1 .gnb>li .sub_menu {
    display: none;
    position: relative;
    top: 0;
    left: 20px;
    padding-top: 25px;
    font-size: 1rem;
    font-family: "Arial", sans-serif;
}

.header1 .gnb>li .sub_menu a {
    display: flex;
    padding-bottom: 16px;
    text-transform: uppercase;
    color: #fff;
    justify-content: left;
    text-decoration: none;
}

.header1 .gnb>li a {
    position: relative;
    z-index: 1;
}

header::after {
    content: "";
    width: 100%;
    height: 0;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: height .3s;
}

header.over::after {
    height: 170px;
}

.burger-menu {
    display: none; /* Burger menu initially hidden */
    cursor: pointer;
    align-items: center;
    margin-right: 20px; /* Margin for burger menu */
}

.burger-menu i {
    font-size: 24px; /* Sesuaikan ukuran ikon */
    color: #fff; /* Sesuaikan warna ikon */
}

@media screen and (max-width: 1268px) {
    .header1 .gnb {
        display: none; /* Hide menu items on small screens */
    }

    .header1 .burger-menu {
        display: flex;
        align-items: center; /* Center burger menu vertically */
    }

    .header1 .gnb.show {
        display: flex; /* Show menu items when burger menu is clicked */
        flex-direction: column;
        background-color: #000;
        width: 100%;
        position: absolute;
        top: 100px;
        left: -40px;
    }

    .header1 .gnb.show>li {
        padding: 20px 0; /* Adjust padding for better spacing */
    }
}

/* MAIN */

h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

aside {
    display: flex;
    flex-wrap: wrap;
}

video {
    object-fit: cover;
    width: 100%;
}

.visual-grid {
    margin-bottom: 128px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1598px;
    position: relative;
}

.visual-grid ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 115%;
}

@media screen and (max-width: 1468px) {
    .visual-grid ul {
        width: fit-content;
    }
}

.visual-grid .artist-list li {
    width: calc(25% - 16px);
    margin: 0 16px 16px 0;
}

.visual-grid .artist-list .hover-box {
    position: relative;
}

.visual-grid .artist-list .hover {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity .75s;
}

.visual-grid .artist-list .hover a {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.visual-grid .artist-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual-grid .artist-list .hover a p {
    position: relative;
    color: #810000;
    font-size: 3rem;
    font-family: "klavika-web"!important;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 1;
}

@media screen and (max-width: 1268px) {
    .visual-grid .artist-list .hover a p {
        position: relative;
        color: #810000;
        font-size: 1rem;
        font-family: "klavika-web"!important;
        text-transform: uppercase;
        font-weight: 600;
        z-index: 1;
    }
}


.information {
    background-color: #000;
    padding: 50px 0;
    margin-top: -150px;
}

.information h2 {
    font-size: 2rem;
    font-family: "Bebas Neue"!important;
    text-transform: none;
    font-weight: 600;
    color: #fff;
    margin-left: 40px;
}

.information p {  
    font-size: 1rem;
    font-family: "Arial"!important;
    color: #fff;
    margin-left: 40px;
    margin-right: 37.5px;
}

.artists_history {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.ly_flex {
    display: flex;
    flex-wrap: nowrap;
    color: #fff;
    margin-left: 40px;
    font-family: "Bebas Neue";
    flex-direction: column;
}

.ly_tit {
    width: 510px;
    padding-right: 40px;
    line-height: 1.18;
    text-transform: capitalize;
    color: #fff;
}

.ly_cont {
    width: calc(100% - 510px), fit-content;
}

.history_tit {
    margin: 12px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
}

.artists_history .history_tit {
    margin-bottom: 25px;
}

.artists_history .history > li.on {
    display: block;
}

.artists_history .history > li div {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    font-size: 1.1rem;
    width: fit-content;
}

h2.on-f20 :-webkit-any-link {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 2rem;
    font-family: "Bebas Neue" !important;
    font-weight: 600;
    color: #fff;
}

.artists_history .history > li h3 {
    font-size: 1.1rem;
    line-height: 1.5;
    width: 70px;
    font-family: "klavika-web", sans-serif;
}

.artists_history .history .month {
    width: 30px;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: "klavika-web", sans-serif;
    font-weight: 700;
    color: #fff;
}

.artists_history .history .txt {
    width: calc(100% - 100px);
    padding-left: 28px;
    letter-spacing: -0.02em;
    color: #fff;
    font-weight: 500;
    font-size: 0.94rem;
    line-height: 1.88;
    word-break: keep-all;
    white-space: pre-line;
    font-family: Arial;
}

@media (max-width: 1268px) {
    .ly_flex {
        flex-direction: column; /* Mengubah tata letak menjadi vertikal */
        align-items: flex-start; /* Mengatur item agar mulai dari kiri */
    }

    .ly_tit {
        margin-bottom: 20px; /* Menambahkan ruang antara judul */
    }

    ul.history {
        padding: 0px;
    }
}


/* FOOTER */

footer {
    background-color: #fff; /* Mengubah warna latar belakang footer */
    color: #000; /* Mengubah warna teks pada footer */
    padding: 50px 20px; /* Menambahkan padding pada footer */
}

.footer-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 200px; /* Mengubah lebar logo footer */
    height: auto; /* Menyesuaikan ketinggian logo secara proporsional */
    filter: invert(1);
}

.footer-info {
    flex-basis: 45%; /* Menentukan ukuran basis flex untuk bagian informasi */
}

.footer-social {
    flex-basis: 30%; /* Menentukan ukuran basis flex untuk bagian sosial media */
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px; /* Mengatur jarak antara ikon sosial media */
}

.social-links li:last-child {
    margin-right: 0; /* Menghapus margin kanan pada ikon sosial media terakhir */
}

.social-links a {
    color: #000; /* Mengubah warna ikon sosial media */
    font-size: 24px; /* Mengatur ukuran ikon sosial media */
}

.footer-bottom {
    margin-top: 20px; /* Menambahkan jarak antara konten footer dan footer-bottom */
    border-top: 1px solid #000; /* Menambahkan garis atas pada footer-bottom */
    padding-top: 20px; /* Menambahkan padding atas pada footer-bottom */
    text-align: center; /* Mengatur teks pada footer-bottom menjadi rata tengah */
}
