/* FONT */
BebasNeue {
    font-family: 'BebasNeue';
} 

/* HEADER */
body {
    background-color: #000 !important;
    box-sizing: border-box;
    margin: 0;
}

.logo {
    margin-right: auto; 
}

a.logo {
    margin: 10px;
}

.logo img {
    width: 300px;
    height: auto;
    transition: filter 0.2s linear; 
}

header.over, logo img {
    filter: invert(1);
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    transition: 0.2s linear;
    z-index: 10;
    padding: 30px 0;
}

div.container-empty {
    background-color: #000;
    font-family: "Bebas Neue", sans-serif;
    max-width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header .nav {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.header .nav>li {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 90px;
    height: 65px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header .nav.bar>li.main-menu>a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header .nav > li .sub_menu {
    display: none;
    position: relative;
    top: 0;
    left: 20px;
    padding-top: 25px;
    font-size: 1rem;
    font-family: "Arial", sans-serif;
}

.header .nav > li .sub_menu a {
    display: flex;
    padding-bottom: 16px;
    text-transform: uppercase;
    color: #fff;
    justify-content: left;
    text-decoration: none;
}

.header .nav>li a {
    position: relative;
    z-index: 1;
}

header::after {
    content: "";
    width: 100%;
    height: 0;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: height .3s;
}

header.over::after {
    height: 170px;
}

.burger-menu {
    display: none; 
    cursor: pointer;
    align-items: center;
    margin-right: 20px; 
}

.burger-menu i {
    font-size: 24px; 
    color: #fff;
}

@media screen and (max-width: 1268px) {
    .header .nav {
        display: none; 
    }

    .header .burger-menu {
        display: flex;
        align-items: center; 
    }

    .header .nav.show {
        display: flex; 
        flex-direction: column;
        background-color: #000;
        width: 100%;
        position: absolute;
        top: 100px;
        left: -40px;
    }

    .header .nav.show>li {
        padding: 20px 0; 
    }
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

video {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    width: 100%;
}

#page {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1598px;
    position: relative;
}

.pic-grid ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 115%;
}

@media screen and (max-width: 1468px) {
    .pic-grid ul {
        width: fit-content;
    }
}

.pic-grid .members-list li {
    width: calc(25% - 16px);
    margin: 0 16px 16px 0;
}

.pic-grid .members-list .hover-box {
    position: relative;
}

.pic-grid .members-list .hover {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity .75s;
}

.pic-grid .members-list .hover a {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.pic-grid .members-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pic-grid .members-list .hover a p {
    position: relative;
    color: #810000;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif !important;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 1;
}

@media screen and (max-width: 1268px) {
    .pic-grid .members-list .hover a p {
        position: relative;
        color: #810000;
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif !important;
        text-transform: uppercase;
        font-weight: 600;
        z-index: 1;
    }
}


.information {
    padding: 50px 0;
}

.information h2 {
    font-size: 2rem;
    font-family: "Bebas Neue"!important;
    text-transform: none;
    font-weight: 600;
    color: #fff;
    margin-left: 40px;
}

.information p {  
    font-size: 1rem;
    font-family: "Arial"!important;
    color: #fff;
    margin-left: 40px;
    margin-right: 37.5px;
}

.kiof-history {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.wraper {
    display: flex;
    flex-wrap: nowrap;
    color: #fff;
    margin-left: 40px;
    font-family: "Bebas Neue";
    flex-direction: column;
    width: 100%;
}

.history_ach {
    margin: 12px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
}

.kiof-history .history_ach {
    margin-bottom: 25px;
}

.kiof-history .history > li.on {
    display: block;
}

.kiof-history .history > li div {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    font-size: 1.1rem;
    width: fit-content;
}

h2.achievments :-webkit-any-link {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 2rem;
    font-family: "Bebas Neue" !important;
    font-weight: 600;
    color: #fff;
}

.kiof-history .history > li h3 {
    font-size: 1.1rem;
    line-height: 1.5;
    width: 70px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-weight: bold;
}

.kiof-history .history .month {
    width: 30px;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-weight: 700;
    color: #fff;
}

.kiof-history .history .txt {
    width: calc(100% - 100px);
    padding-left: 28px;
    letter-spacing: -0.02em;
    color: #fff;
    font-weight: 500;
    font-size: 0.94rem;
    line-height: 1.88;
    word-break: keep-all;
    white-space: pre-line;
    font-family: Arial;
}

@media (max-width: 1268px) {
    .flexible {
        flex-direction: column;
        align-items: flex-start; 
    }

    .layout_ach {
        margin-bottom: 20px; 
    }

    ul.history {
        padding: 0px;
    }
}


/* FOOTER */

footer {
    background-color: #fff; 
    color: #000; 
    padding: 20px 10px; 
}

.footer-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    footer .footer-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-info {
        text-align: center;
    }
}

.footer-logo img {
    width: 200px; 
    height: auto; 
    filter: invert(1);
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px; 
}

.social-links li:last-child {
    margin-right: 0; 
}

.social-links a {
    color: #000; 
    font-size: 24px; 
}

.footer-bottom {
    margin-top: 20px; 
    border-top: 1px solid #000; 
    padding-top: 20px; 
    text-align: center; 
}
